<a href="https://colab.research.google.com/github/as9786/ParrotnlpJeju/blob/main/%EC%A0%9C%EC%A3%BC%EC%96%B41%EC%B0%A8%EB%B0%9C%ED%91%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#모듈 불러오기
import pandas as pd
import numpy as np
import nltk
#from nltk.tokenize import sent_tokenize 
from nltk.tokenize import word_tokenize
nltk.download('punkt')
from sklearn.model_selection import train_test_split
import re
#import urllib.request
#from soynlp import DoublespaceLineCorpus
#from soynlp.word import WordExtractor

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
#urllib.request.urlretrieve("https://raw.githubusercontent.com/lovit/soynlp/master/tutorials/2016-10-20.txt", filename="2016-10-20.txt")

# 국립

In [ ]:
# 파일 불러오는 함수
def makefile(i):
  path = r'/content/drive/MyDrive/Jeju/구술발화 ({}).xlsx'.format(i)
  df = pd.read_excel(path,index_col=0)
  df.columns = ['발화','표준어 전사']
  df = df.iloc[7:]
  return df

In [ ]:
data = makefile(0)

In [ ]:
for i in range(1,25):
  df=makefile(i)
  data = pd.concat([data,df])

In [ ]:
data.tail()

                                                    발화                                             표준어 전사
제보자  2 게고, 쩌 어디서 홀/림 이야기 헙써게. 그거허민 뒐 꺼 아니. 난 묻 뜨러봗쪄...                                                NaN
조사자                                  왜냐면 우리도 커 오면서 옛날.                                  왜냐면 우리도 커 오면서 옛날.
조사자                    아버님이 홀렷다는 게 아니라 다른 사람이 홀림을 당헷다.                   아버님이 홀렸다는 것이 아니라 다른 사람이 홀림을 당했다.
조사자  그니까 어렸을 때 거이 우리 집 제삿집에서 옛날에 뭐뭐 헷저 허는 말을 나가 들어본...  그러니까 어렸을 때 거의 우리 집 제삿집에서 옛날에 뭐뭐 했다 하는 말을 내가 들어...
조사자                                   잠시 저 쉬엇다가 하겟습니다.                                   잠시 저 쉬었다가 하겠습니다.

In [ ]:
data = data.dropna(axis=0)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10203 entries, 조사자 to 조사자
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   발화      10203 non-null  object
 1   표준어 전사  10203 non-null  object
dtypes: object(2)
memory usage: 239.1+ KB

In [ ]:
data.index = range(0,10203)

In [ ]:
data.tail()

                                                      발화                                             표준어 전사
10198                      게난 소/삼사건 때. 소/삼 (웃음) 거보다 옛날에.                     그러니까 사삼사건 때. 사삼. (웃음) 거보다 옛날에.
10199                                  왜냐면 우리도 커 오면서 옛날.                                  왜냐면 우리도 커 오면서 옛날.
10200                    아버님이 홀렷다는 게 아니라 다른 사람이 홀림을 당헷다.                   아버님이 홀렸다는 것이 아니라 다른 사람이 홀림을 당했다.
10201  그니까 어렸을 때 거이 우리 집 제삿집에서 옛날에 뭐뭐 헷저 허는 말을 나가 들어본...  그러니까 어렸을 때 거의 우리 집 제삿집에서 옛날에 뭐뭐 했다 하는 말을 내가 들어...
10202                                   잠시 저 쉬엇다가 하겟습니다.                                   잠시 저 쉬었다가 하겠습니다.

# Kaggle

In [ ]:
# 데이터불러오기
f = open("/content/drive/MyDrive/archive/je.dev", 'r')
line1 = f.readlines()
#print(line1)
f.close()

f = open("/content/drive/MyDrive/archive/ko.dev", 'r')
line2 = f.readlines()
#print(line2)
f.close()

f = open("/content/drive/MyDrive/archive/je.test", 'r')
line3 = f.readlines()
f.close()

f = open("/content/drive/MyDrive/archive/ko.test", 'r')
line4 = f.readlines()
f.close()

f = open("/content/drive/MyDrive/archive/je.train", 'r')
line5 = f.readlines()
f.close()

f = open("/content/drive/MyDrive/archive/ko.train", 'r')
line6 = f.readlines()
f.close()

In [ ]:
# data -> dataFrame
df1 = pd.DataFrame(line1)
df2 = pd.DataFrame(line2)
df3 = pd.DataFrame(line3)
df4 = pd.DataFrame(line4)
df5 = pd.DataFrame(line5)
df6 = pd.DataFrame(line6)

In [ ]:
# data concat
dfc1 = pd.concat([df1,df2],1)
dfc2 = pd.concat([df3,df4],1)
dfc3 = pd.concat([df5,df6],1)

In [ ]:
#최종데이터
dfac = pd.concat([dfc1,dfc2,dfc3],0)

In [ ]:
#dataframe 열 이름 지정
dfac.columns = ['발화','표준어 전사']

열 이름 쉬운걸로 바꾸는 게 좋을 듯??...

In [ ]:
# dataframe 관찰
dfac.head()

                                                  발화                                             표준어 전사
0  경ᄒᆞ민 이제 그것에 ᄀᆞ치 씨에 버물려지민 걸름에 다 ᄇᆞᆲ을 때 ᄇᆞᆲ앙 요만씩...  그렇게 하면 이제 그것에 같이 씨에 섞어지면 거름에 다 밟을 때 밟아서 이만큼씩 이...
1  바느질허는 사름덜도 먹곡 허민 그 관 짜는 사름덜도 먹곡 허주게 겐 관에 담은 후엔...  바느질하는 사람들도 먹고 하면 그 관 짜는 사람들도 먹고 하지 . 그래서 관에 담은...
2                                      아 , 잔치 때도 ?\n                                      아 , 잔치 때도 ?\n
3                                옛날은 육식헤영 노리 , 꿩 .\n                                옛날은 육식해서 노루 , 꿩 .\n
4                   어 . 그런 것도게 강 사 오라 질 때나 먹지 무신 .\n                 어 . 그런 것도 가서 사 올 수 있을 때나 먹지 무슨 .\n

In [ ]:
dfac['발화'][0]

0    경ᄒᆞ민 이제 그것에 ᄀᆞ치 씨에 버물려지민 걸름에 다 ᄇᆞᆲ을 때 ᄇᆞᆲ앙 요만씩...
0    경헤도 거 ᄉᆞᆯᄉᆞᆯ 거려뒁 먹주 . 거 안 먹진 안허여 . 어떵 옛날 삶사 삶 ...
0                                           판관헤난 거 ?\n
Name: 발화, dtype: object

In [ ]:
#dataframe 정보
dfac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170356 entries, 0 to 160355
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   발화      170356 non-null  object
 1   표준어 전사  170356 non-null  object
dtypes: object(2)
memory usage: 3.9+ MB

In [ ]:
#dataframe 차원
dfac.shape

(170356, 2)

In [ ]:
x = dfac['발화']
y = dfac['표준어 전사']

In [ ]:
# data 나누기
#x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,shuffle=True,random_state=506)

In [ ]:
# dataframe 내용 문장별로 잘라서 list에 저장
# l로 전체 토큰화된 단어 수 확인
xtok = []
l = 0
for i in range(len(x)):
  tok = word_tokenize(x.values[i])
  xtok.append(tok)
  l += len(tok)

In [ ]:
type(xtok)

list

In [ ]:
#첫 번째 문장 확인
xtok[0]

['경ᄒᆞ민',
 '이제',
 '그것에',
 'ᄀᆞ치',
 '씨에',
 '버물려지민',
 '걸름에',
 '다',
 'ᄇᆞᆲ을',
 '때',
 'ᄇᆞᆲ앙',
 '요만씩요만씩',
 '다',
 '뿌려노민이',
 ',',
 '그것에',
 '붙엉',
 '씨가',
 '나오민',
 'ᄒᆞ꼼',
 '걸어라게',
 '.',
 '그냥',
 '가는',
 '건',
 '쉡씨',
 ',',
 '그냥',
 '걸름',
 '아니',
 '헹',
 '그냥',
 '씨삐엉',
 '가는',
 '건',
 '그것엔',
 '걸름이',
 '들어가난',
 'ᄒᆞ\uf000\uf000\uf000',
 '잘',
 '뒈어라게',
 '밀랑밀랑하게',
 '.']

In [ ]:
#data 크기 확인
print("제주어 문장 수 : {}".format(len(xtok)))
print("제주어 단어수 : {}".format(l))

제주어 문장 수 : 170356
제주어 단어수 : 1421723
ᄒᆞᆫ

In [ ]:
# 한글로만 이루어진 data 갯수 사전 만들기
frq = nltk.FreqDist(w for i in range(170356) for w in xtok[i] if re.search('[가-힣]+',w))

In [ ]:
# 개수 내림차순으로 표시
frq.most_common

In [ ]:
# 한글이외로 이루어진 data 갯수 사전 만들기
frq2 = nltk.FreqDist(w for i in range(170356) for w in xtok[i] if re.search('[^가-힣]+',w))

In [ ]:
# 개수 내림차순으로 표시
frq2.most_common

In [ ]:
# 두 글자 한글로만 이루어진 data 갯수 사전 만들기
frq3 = nltk.FreqDist(w for i in range(170356) for w in xtok[i] if re.search('[가-힣]{2}',w))

In [ ]:
frq3.most_common

아래 아자가 한글 이외로 분류됨...

# 최종데이터

In [ ]:
JD = pd.concat([data,dfac],0)
JD.index = range(180559)
JD.tail()

                                                       발화                                             표준어 전사
180554    예 . 옛날에는 저기 무슨 마을접이엔 헤가지고 , 뭐 상여접도 잇어나곡 뭐 계 .\n    예 . 옛날에는 저기 무슨 마을계라고 해가지고 , 뭐 상여계도 있어나고 뭐 계 .\n
180555                                          ᄄᆞᆷ떼기 ?\n                                             땀띠 ?\n
180556  이 선흘에 . 우리 살아난 집 이제 ᄄᆞᆫ 사름 살암저마는 , 우리 친정에 살아난 .\n  이 선흘에 . 우리 살았던 집 이제 다른 사람 살고 있지마는 , 우리 친정에 살았어...
180557  구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제ᄉᆞ 때나 무시거 때랑 그디...  귀신 위해서 옛날 어른들 주저리 짜서 거기 덮어서 이제야 때나 무슨 때랑 거기 가서...
180558                                게민 고추장은 안 담강 먹엇수과 ?                              그럼 고추장은 안 담가서 먹었습니까 ?